@charset "utf-8";
body{
	background-image:url(SlutprojektBakgrundsbild.jpg);
	background-position:center;
	background-size:cover;
	background-attachment: fixed;	
	margin:0;
	padding:0;
}
#storebox{
	width:100%;
	height:100%;
	position:absolute;
	margin-top:inherit;
}
#VansterIndexBoxHallare{
	width:20%;
	position:fixed;
	top:35%;
	left:25%;
}
#HogerIndexBoxHallare{
	width:20%;
	position:fixed;
	top:35%;
	right:25%;
}
.IndexBox{
	font-family:"Perpetua Titling MT";
	font-size:2vw;
	text-align:center;
	background-color:rgba(255,255,255,0.8);
	width:100%;
	height:10vw;	
	margin-bottom: 10%;
	outline-color:rgba(255,255,255,0.8); 
	outline: 0.4vw hidden;
	box-sizing:border-box;
	word-wrap: break-word;
	display: flex;	
}
.IndexBox:hover{
	background-color: rgba(255,255,255,0.9);
	outline: 0.4vw solid rgba(255,255,255,0.9);
	transition:ease-in 0.15s;
}
.BoxText{
	font-family:"Perpetua Titling MT";
	font-size: 2vw;
	text-align: center;
	margin:auto;
}
a{
	text-decoration:none;
	color:#000;
}
nav{
	background-image:url(Nav.png);
	background-position:center;
	background-size:100% 100%;
	width:98%;
	height:10%;
	min-height: 50px;
	margin-top:3%;
	margin-left:1%;
}
.NavBox{
	color:#003d8f;
	height: 100%;
	width: 18%;
	box-sizing:border-box;
	word-wrap: break-word;
	display: flex;
}
.NavBox.Vasatiden
{
	margin-left: 7%;
	float: left;
}
.NavBox.Stormaktstiden
{
	margin-left: 0;
	float: left;
}
.NavBox.b17191809{
	margin-right: 0;
	float: right;
}
.NavBox.Gransforandringar
{
	margin-right: 7%;
	float: right;
}
.HemknappHallare{
	height:10%;
	width:6vh;
	min-width: 30px;
	position: absolute;
	left:50%;
	flaot: left;
}

.Hemknapp{
	background-image:url(Hemknapp.png);
	background-position:center;
	background-size:100% 100%;
	width:6vh;
	min-width: 30px;
	height:100%;
	margin-right:50%;
	float:right;
}
.Hemknapp:Hover{
	width:6.5vh;
	margin-right:45%;
	transition:ease-in 0.1s;
	
}
.NavBox.Vasatiden:Hover ~ .Underline{
	margin-left:7%;
  	transition: .3s ease-in-out;
}
.NavBox.Stormaktstiden:Hover ~ .Underline{
	margin-left:24.5%;
	transition: .3s ease-in-out;
}
.NavBox.b17191809:Hover ~ .Underline{
	margin-left:56%;
	transition: .3s ease-in-out;
}
.NavBox.Gransforandringar:Hover ~ .Underline{
	margin-left:73.5%;
	transition: .3s ease-in-out;
}
.Underline{
	height: 0.5%;
 	width: 17.5%;
	margin-top:9.7vh;
	background-color: #0CF;
	transition: .3s ease-in-out;
	position: absolute;
}
.Underline.Vasatiden{
	margin-left: 7%;
}
.Underline.Stormaktstiden{
	margin-left: 24.5%;
}
.Underline.s17191809{
	margin-left: 56%;
}
.Underline.Gransforandringar{
	margin-left: 73.5%;
}
.Underline.hemknapp{
	margin-left: 46.5%;
	width: 5%;
}
#Hallare{
	height:80%;
	width:90%;
	margin-left:5%;
}
#GransforandringBoxHallare{
	width:60%;
	height:90%;
	margin-top:5%;
	float:left;
	display: flex;
	flex-wrap: wrap;
}
.InfoBox{
	background-color: rgba(255,255,255,0.8);
	width:96%;
	height:22%;
	float:left;
	display: flex;
	overflow: hidden;
}
.InfoBox .BoxText{
	font-family: "Perpetua";
	font-size: 1.5vw;
	display: none;
}
.InfoBox .BoxText.b{
	display:block;
}
.GransforandringBox{
	background-color: rgba(255,255,255,0.8);
	width:30%;
	height:10%;
	margin-top:3%;
	margin-right:3%;
	float:left;
	display: flex;
}
#KartBox{
	background-image:url(1100-talet.jpg);
	background-position: left;
	background-size: cover;
	width:33%;
	height: 35vw;
	margin-top:5%;
	float:right;
	overflow: hidden;
}
#KartBox > img{
	height: 35vw;
	float:left;
	display: none;
}

#MobilMeny{
	width:100%;
	height:50px;
	background-color:#F8D954;
	display:none;
	position: fixed;
	z-index: 2;
}
#MobilMeny.active{
		background-color:#E8CE67;
}
.MobilMenyKnapp{
	margin: 8px 10px; 
	width: 40px;
	border-radius: 3px;
	border: 3px solid #003d8f;
	transform-origin: 0% 50%;
	transition: transform 0.3s ease;
	
}
.MobilMenyKnapp.Center{
	margin: 7px 10px;
}
.MobilMenyKnapp.Center.active{
	transform: scale(0);
}
.MobilMenyKnapp.Top.active{
	transform: rotate(38deg)
}
.MobilMenyKnapp.Bottom.active{
	transform: rotate(-38deg)
}
#Droppmeny{
	width:100%;
	height:37.5%;
	display:none;
	position: fixed;
	top:50px;
	background-color:#ffdf55;
	z-index: 2;
}
.DroppNavBox{
	width:100%;
	height:20%;
	display:none;
	z-index: 2;
}
.DroppNavBox:Hover, .DroppNavBox:Active{
	background-color: rgba(96,96,96,0.1);
}
@media screen and (max-width: 600px) {
body{
	background-image:url(SlutprojektBakgrundsbild2.jpg);
	background-position:center;
	background-size:cover;
	background-attachment: fixed;
}
.BoxText{
	font-size:5vw;
}
#MobilMeny{
	display:block;
}
.DroppNavBox{
	display:flex;
}
nav{
	display:none;
}
.GransforandringBox .BoxText{
	font-size: 4vw;
}
#VansterIndexBoxHallare{
	width:25%;
	top:30%;
	left:6%;
}
#HogerIndexBoxHallare{
	width:25%;
	top:30%;
	right:23%;
}
.IndexBox{
	width: 165%;
	height: 30vw;
	margin-bottom: 40%;
}
.InfoBox{
	height:32%;
}
.InfoBox .BoxText{

	font-size: 5vw;

}
#KartBox{
	margin-right: 15%;
	margin-top: 60px;
	width:66%;
	height: 70vw;
}
#KartBox > img{
	height: 70vw;
}
#GransforandringBoxHallare{
	width:100%;
	height:90%;
	margin-top:5%;
	margin-left:1.5%;
	
}
}
